html{
  background: #4e5e77;
  position: relative;
  font-family: 'Roboto', sans-serif;
}
.cover{
  background-image: url(xMU-photo/about.png);
  background-size: cover;
  background-position: center;
  height: 580px;
  margin-bottom: 50px;
  position: relative;
}
.cover p{
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 0.5em;
  color: #FFFFFF;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: auto;
}
.about{
  max-width: 1200px;
  margin: auto;
  position: relative;
}
.about h2{
  display: none;
}
.about .about-content{
  width: 100%;
  margin: auto;
  margin-bottom: 50px;
}
.about .about-content .address{
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px;
}
.about .about-content h3{
  font-weight: 500;
  line-height: 28px;
  text-align: right;
  color: #FFFFFF;
}
.about .about-content p{
  line-height: 35px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
.about .about-content .time{
  display: flex;
  align-items: flex-start;
  margin: 20px;
  width: 100%;
}
.about .about-content .phone{
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px;
}
.about .about-content .email{
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px;
}
.about .about-detail{
  width: 100%;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-pic {
  position: relative;
  padding-bottom: 65.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.about-pic iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (min-width:375px){
  .about .about-content h3{
    font-size: 18px;
    width: 30%;
  }
  .about .about-content p{
    font-size: 14px;
    margin-left: 30px;
  }
}
@media screen and (min-width:768px){
  .about .about-content h3{
    font-size: 24px;
    width: 30%;
  }
  .about .about-content p{
    font-size: 18px;
    margin-left: 60px;
  }
  .about .about-content{
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
  }
  .about .about-detail{
    width: 70%;
  }
}
@media screen and (min-width:1024px){
  .about .about-content{
    display: flex;
    margin: auto;
    margin-bottom: 50px;
  }
  .cover::before{
    content: " ";
    width: 3px;
    height: 800px;
    background-color: #E5E5E5;
    position: absolute;
    top: 600px;
    left: 50%;
  }
  .about .about-content .about-detail{
    width: 50%;
  }
  .about .about-content .about-pic{
    width: 45%;
    height: 40%;
    margin: auto;
  }
  .about .about-content h3{
    font-size: 28px;
    width: 30%;
  }
  .about .about-content p{
    font-size: 22px;
    margin-left: 60px;
  }
}
