.xMU h1,
.xMU-mainnav h2{
  display: none;
}
.xMU-mainnav{
  background: rgba(106, 115, 130,0.85);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 4;
}
.xMU-mainnav .nav{
  max-width: 1200px;
  height: 60px;
  display: flex;
  align-items: center;
  margin: auto;
}
.header .xMU-logo{
  width: 133.33px;
  height: 30px;
  margin: 0 50px;
}
.header .xMU-logo img{
  vertical-align: top;
}
.mainnav a{
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  padding: 0 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}
.mainnav .navcontent .content a{
  padding: 10px;
  font-size: 14px;
}
.xMU-funtion{
  display: flex;
  align-items: center;
}
.xMU-funtion .shoppingcart{
  width: 20px;
  height: 20px;
  margin: 0px 30px 0px 35px;
}
.xMU-funtion .shoppingcart img{
  vertical-align: top;
}
.xMU-funtion .profile{
  width: 20px;
  height: 20px;
}
.xMU-funtion .profile img{
  vertical-align: top;
}
.header .xMU-logo{
  margin: 0 50px 0 0;
}
.xMU-funtion .search .search-logo img{
  width: 100%;
  vertical-align: top;
}
.mainnav .navcontent:hover .nav{
  color: #FDECAE ;
  transition: .2s;
}
.mainnav .navcontent .content a:hover{
  color: #FDECAE ;
  transition: .1s;
}
.mainnav .navcontent .content .nav{
  position: relative;
}
.mainnav .navcontent .nav::after{
  content: " ";
  position: absolute;
  left:50%;
  bottom: 10px;
  transform: translateX(-50%) scaleX(0);
  width: 70%;
  height: 2px;
  background-color: rgba(106, 115, 130,0.85);
  transition-duration:1s;
}
.mainnav .navcontent:hover .nav::after{
  transform: translateX(-50%) scaleX(1);
  background-color: #FDECAE;
}
#menu-control{
  display: none;
}
@media screen and (min-width:375px){
  .xMU-funtion .search .search-logo{
    width: 20px;
    height: 20px;
    -webkit-filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    margin-right: -10px;
  }
  .xMU-funtion .shoppingcart{
    margin: 0px 15px 0px 20px;
  }
}
@media screen and (max-width:1000px){
  .xMU-funtion .search .search-logo{
    margin-right: -10px;
  }
  .xMU-funtion .shoppingcart{
    margin: 0px 30px 0 35px;
  }
  .header .xMU-logo{
    margin-left: 30px;
  }
  .hb{
    width: 40px;
    height: 40px;
    background-color: rgba(106, 115, 130, 0.8);
    position: absolute;
    right: 20px;
    box-shadow: rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
  .hb span{
    --tb: 19px;
    width: 25px;
    height: 2px;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: top .5s .2s,
               bottom .5s .2s, 
               opacity .5s, 
               transform .2s;
  }
  .hb span:first-child{
    top: var(--tb);
    transform: rotate(0deg);
  }
  .hb span:last-child{
    bottom: var(--tb);
    transform: rotate(0deg);
  }
  .hb span:nth-child(2){
    opacity: 1;
  }
  .mainnav{
    position: absolute;
    top: 100%;
    right: -60%;
    background-color: rgba(106, 115, 130, 0.8);
    width: 60%;
    height: calc(100vh - 60px);
    transition: right 1s;
  }
  #menu-control:checked ~ .xMU-mainnav .nav .header .mainnav{
    right: 0;
  }
  #menu-control:checked ~ .xMU-mainnav .nav .hb span:first-child{
    top: 0;
    transform: rotate(315deg);
    transition: top .5s,
                bottom .5s, 
                opacity .5s, 
                transform .2s .5s;
  }
  #menu-control:checked ~ .xMU-mainnav .nav .hb span:last-child{
    bottom: 0;
    transform: rotate(-315deg);
    transition: top .5s,
                bottom .5s, 
                opacity .5s, 
                transform .2s .5s;
  }
  #menu-control:checked ~ .xMU-mainnav .nav .hb span:nth-child(2){
    opacity: 0;
  }
  .mainnav li{
    width: 50%;
    position: relative;
    right: -10%;
  }
  .mainnav .navcontent{
    margin: 0px 10px -35px 0px;
  }
  .mainnav .content a{
    display: block;
    margin: 0 10px;
    transform: translate(100px, -43px);
  }
  .xMU-funtion{
    position: absolute;
    right: 80px;
  }
  .xMU-funtion .search .searcharea{
    display: none;
  }
  .header{
    display: flex;
  }
}
@media screen and (min-width:1001px){
  .header .xMU-logo{
    margin-left: 50px;
  }
  .hb{
    display: none;
  }
  .xMU-mainnav .nav{
    margin: auto;
  }
  .header{
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  .mainnav{
    display: flex;
  }
  .mainnav .navcontent .content a{
    margin: 10px;
  }
  .mainnav .content{
    display: none;
    position: absolute;
    top: 60px;
  }
  .mainnav .navcontent{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
  }
  .mainnav .navcontent:hover .content{
    display: block;
    display: flex;
    flex-direction: column;
    background-color: rgba(106, 115, 130,0.85);
  }
  .xMU-funtion{
    margin-right: 50px;
  }
  .xMU-funtion .search{
    display: flex;
    align-items: center;
    position: relative;
  }
  .xMU-funtion .search .searcharea{
    text-decoration: none;
    width: 140px;
    height: 20px;
    padding-left: 30px;
    background-color: rgba(238, 238, 238, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: 0px;
    display: block;
  }
  .xMU-funtion .search .search-logo{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5px;
    margin: auto;
  }
}
@media screen and (min-width:1200px){
  .xMU-funtion{
    margin-right: 0px;
  }
  .header .xMU-logo{
    margin-left: 0px;
  }
}