html{
  background: #4e5e77;
  position: relative;
  font-family: 'Roboto', sans-serif;
}
.cover{
  width: 100%;
  height: 480px;
  background-image: url(xMU-photo/sheet-bg.png);
  background-size: cover;
  background-position: center;
}
.detail{
  background-image: url(xMU-photo/sheet-bg2.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.order{
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detail h2{
  font-weight: 500;
  font-size: 36px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  padding: 50px 0 20px 0;
}
.order .order-title .feature{
  display: flex;
}
.order .order-title .feature button{
  width: 84px;
  height: 40px;
  border: 3px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.order-title .feature .classic{
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
.order-title .feature .popular{
  background:#ffffff;
  color: #6A7382;
}
.order-content .title{
  background-color: #6A7382;
}
.order-content .title .content-title{
  max-width: 1200px;
  margin: auto;
  display: flex;
  padding: 10px 20px 3px 20px;
  border-bottom: 1px solid #FFFFFF;
}
.order-content .title .content-title .rank{
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FDECAE;
}
.order-content .title .content-title .song-name{
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  flex-grow: 1;
  margin-left: 80px;
}
.order-content .title .content-title .sheet{
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-right: 10px;
}
.order-content .songlist{
  position: relative;
  overflow: hidden;
  transition: .75s;
}
.songlist::before{
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(253,236,174,0.7) 100%);
  transform: skewX(-25deg)
}
.songlist:hover::before {
  -webkit-animation: shine 1s;
  animation: shine 1s
}
.songlist{
  transform: translateX(-100%);
}
.slidein{
  transform: translateX(0);
  transition: all .5s;
}
.order-content .songlist .song-item{
  display: flex;
  align-items: center;
  padding: 10px 30px;
  max-width: 1200px;
  margin: auto;
}
.order-content .songlist:hover .song-item .song .song-title h3,
.order-content .songlist:hover .song-item .song .song-title .singer{
  color: #FDECAE;
  transition: .3s;
}
.order-content .songlist:nth-child(odd){
  background: linear-gradient(180deg, rgba(253, 236, 174, 0.2) 0%, rgba(253, 236, 174, 0) 100%);
}
.order-content .songlist .song-item .number{
  font-size: 28px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FDECAE;
}
.order-content .songlist .song-item .song{
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 80px;
}
.order-content .songlist .song-item .song:hover{
  cursor: pointer;
}
.order-content .songlist .song-item .song .song-pic{
  width: 40%;
}
.order-content .songlist .song-item .song .song-pic img{
  width: 100%;
  vertical-align: top;
}
.order-content .songlist .song-item .song .song-title{
  margin-left: 10px;
}
.order-content .songlist .song-item .song .song-title h3{
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.order-content .songlist .song-item .song .song-title .singer{
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
.order-content .songlist .song-item .music img{
  vertical-align: top;
}
.more{
  display: flex;
  justify-content: center;
  padding: 60px;
}
button{
  width: 120px;
  height: 40px;
  background: #FDECAE;
  border: 3px solid #FDECAE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #6A7382;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: .75s;
}
button::before{
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 100%);
  transform: skewX(-25deg)
}
button:hover{
  background-color: #fff9e1;
}
button:hover::before {
  -webkit-animation: shine 0.75s;
  animation: shine 0.75s
}
@-webkit-keyframes shine {
  100% {
      left: 125%
  }
}
@keyframes shine {
  100% {
      left: 125%
  }
}
@media screen and (min-width:375px){
  .order-content .title .content-title .song-name{
    margin-left: 30px;
  }
  .order-content .songlist .song-item .song{
    margin-left: 40px;
  }
  .order-content .songlist .song-item .number{
    font-size: 20px;
  }
  .order-content .songlist .song-item .song .song-title{
    margin: 10px;
  }
  .order-content .songlist .song-item .song .song-title h3{
    font-size: 16px;
  }
  .order-content .songlist .song-item .song .song-title h3>span{
    font-size: 12px;
  }
  .order-content .songlist .song-item .song .song-title .singer{
    font-size: 12px;
  }
  .order-content .songlist .song-item{
    padding: 10px 30px;
  }
  .order-content .songlist .song-item .song .song-pic{
    width: 30%;
  }
  .order-content .songlist .song-item .music{
    width: 10%;
    margin-right: 10px;
  }
}
@media screen and (min-width:768px){
  .order-content .title .content-title .song-name{
    margin-left: 200px;
  }
  .order-content .songlist .song-item .song{
    margin-left: 200px;
  }
  .order-content .songlist .song-item .number{
    font-size: 36px;
  }
  .order-content .songlist .song-item .song .song-title{
    margin: 22px;
  }
  .order-content .songlist .song-item .song .song-title h3{
    font-size: 20px;
  }
  .order-content .songlist .song-item .song .song-title h3>span{
    font-size: 16px;
  }
  .order-content .songlist .song-item .song .song-title .singer{
    font-size: 16px;
  }
  .order-content .songlist .song-item .song .song-pic{
    width: 20%;
  }
  .order-content .songlist .song-item{
    padding: 10px 20px;
  }
  .order-content .songlist .song-item .music{
    width: 10%;
    margin-right: -20px;
  }
}
@media screen and (min-width:1024px){
  .order-content .songlist .song-item .music{
    width: 10%;
    margin-right: -40px;
  }
}